th {
    padding: 3px !important;
    border: none !important;
  }
  td {
    padding: 3px !important;
    height: 30px !important;
  }
  .border-style{
    border: 1px solid;
    border-color: #e2e2e2;
    background-color: white;
  }
