.container-legenda {
  display: flex;
  height: 25vh;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
}

.legenda {
    list-style: none;
    border-radius: 3px;
    color: white;
    padding-left: 10px;
}

mat-card, mat-calendar {
    padding: 0px !important;
}
