<div class="container row col-12 gy-2 pe-0">  
      
    <mat-card>
      <mat-calendar [(selected)]="selected"></mat-calendar>
    </mat-card>
    <mat-card>
      <mat-calendar [(selected)]="selected2"></mat-calendar>
    </mat-card>
    <div class="container-legenda">
          <span class="legenda" style="background-color: #aeaeae;">Agendado</span>
          <span class="legenda" style="background-color: #483089;">Em atendimento</span>
          <span class="legenda" style="background-color: #15d685;">Finaspanzado</span>
          <span class="legenda" style="background-color: #f3bb1b;">Em atraso</span>
          <span class="legenda" style="background-color: #c54b9c;">Reagendado</span>
          <span class="legenda" style="background-color: #f13637;">Cancelado</span>
    </div>

  </div>