<form [formGroup]="form">
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>{{ model?.label }}</mat-label>
    <input
      type="text"
      placeholder="{{model!.placeholder}}"
      [id]="model!.name"
      matInput
      (click)="realizarPrimeiraPesquisa()"
      (focus)="realizarPrimeiraPesquisa()"
      [formControl]="pesquisaControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let opcao of opcoes" [value]="opcao.nome">
          {{ opcao.nome }}
        </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
