<form [formGroup]="form">
  <mat-form-field style="width: 100%;">
    <input
      type="text"
      placeholder="{{model!.label}}"
      [id]="model!.name"
      matInput
      (click)="pesquisar()"
      [formControl]="pesquisaControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let opcao of opcoes" [value]="opcao.nome">
          {{ opcao.nome }}
        </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
