@import './../../../../shared-styles/variaveis.scss';

.drawer {
  display: block;
  position: absolute;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.drawer-content {
  display: block;
  position: absolute;
  background-color: #fff;
  height: 100vh;
  box-shadow: #555 0px 0px 56px 4px;
  right: 0;
  width: 600px;
  z-index: 99999;
  overflow-y: auto;
}

.drawer-content::-webkit-scrollbar-track {
  background-color: #f7f7f7;
  border-radius: 5px;
}
.drawer-content::-webkit-scrollbar {
  width: 10px;
  height: 13px;
  background: #f4f4f4;
  border-radius: 5px;
}
.drawer-content::-webkit-scrollbar-thumb {
  background: $cor-principal;
  border-radius: 5px;
}

.drawer-content::-webkit-scrollbar-thumb:hover {
  background: $cor-principal;
}

.fechar {
  display: block;
  position: absolute;
  right: 0;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 3px;
  &:hover {
    background-color: #eee;
    box-shadow: #bbb 3px 0px 8px 1px;
  }
}
.drawer-zona-fechar{
  display: block;
  position: absolute;
  width: 100%;
  z-index: 1000;
  height: 100vh;
}
