th {
  padding: 3px !important;
  border: none !important;
}
td {
  padding: 3px !important;
  height: 30px !important;
}
.celula-hora {
    width: 45px !important;
}

mat-card {
  padding: 0px;
}

.listagem {
  display: flex;
  padding-top: 8px;
}
