$cor-principal: #2b0967;
$cor-principal-v1:#3d0e8e;
$cor-principal-v2:#5520b0;
$cor-principal-hover-escuro: #1e0746;
$cor-principal-hover-claro: $cor-principal-v2 ;
$cor-principal-shadow: #1e0746;
$box-shadow-para-branco-sombra-roxa: $cor-principal-shadow 0px 0px 4px 2px;
$cor-principal-claro: #eee3ff;
$cor-principal-claro-v2:rgb(220, 164, 255);
$cor-principal-hover-btn: $cor-principal-claro;
$cor-principal-font: $cor-principal-v2 ;

$cor-font-escura: #555;
$cor-border-bottom-cinza: #bbb;
$padding-border-padrao: 7px;
$cor-tabela: #fff;
$cor-fundo-body: #eee;

$transition-padrao: 0.3s;
$padding-btn: 3px 10px ;
$border-radios-btn: 5px;
$border-btn:none;

$indicador-contratado: #15D685;
$indicador-pendente: #F3BB1B;
$indicador-cancelado: #F13637;

$indicador-ativo: #15D685;
$indicador-pre-cadastro: #F3BB1B;
$indicador-inativo: #F13637;
$indicador-em-ferias: #300098;
$indicador-programada: #F3BB1B;
